<title>annaiavalon apartment</title>
<h1 align="center">Annai avalon apartment 1C & 1D block</h1>
<p>Annaiavalon apartments is a good residential apartemnt in Agaramthem. It is near to Bharath university, frequently buses available from Tambaram.Annai builders build this apartment, this apartment at Tambaram and very near to chennai. Builder build all the flats in best quality. It is placed at good residentail area. It is one of the good projects for annai builders.</p>
<table style="width:100%">
<tr>
<td>Kaliswaran 1C-F1 99414-42050</td>
<td align="right">Septic-tank = 93821-30485</td>
</tr>
<tr>
<td>Pattabiraman 1C-F2</td>
<td align="right">Murugesan(Mason) = 99419-39055</td>
</tr>
<tr>
<td>Vadivelan 1C-F3 80562-88597</td>
<td align="right">Sivaji(Plumber&Electrician)=90805-55125</td>
</tr>
<tr>
<td>Sujay 1C-G1 90030-17929</td>
</tr>
<tr>
<td>Somashkandan 1D-G1 </td>
</tr>
<tr>
<td>Vimalraj 1D-G2</td>
</tr>
<tr>
<td>Murali 1D-G3 98418-86198</td>
<tr>
<td>Bakyaraj 1D-F1 98418-41380</td>
</tr>
</table>
</tr>
</table>
<p align="center"><%= image_tag "/assets/annai_avalon680x450.jpg"%></p>
<p align="center"><%= image_tag "/assets/layout1.jpg"%></p>
