<h1 align="center">Welcome to Annai-Avalon apartments</h1>
<table style="width:100%">
<tr>
<td>Kaliswaran 1C-F1</td>
<td align="right">Septic-tank = 9382130485</td>
</tr>
<tr>
<td>Pattabiraman 1C-F2</td>
<td align="right">Murugesan(Mason) = 9941939055</td>
</tr>
<tr>
<td>Vadivelan 1C-F3</td>
</tr>
<tr>
<td>Sujay 1C-G1</td>
</tr>
<tr>
<td>Somashkandan 1D-G1</td>
</tr>
<tr>
<td>Murali 1D-G3</td>
</tr>
</table>
<p align="center"><%= image_tag "/assets/annai.jpg" %></p>
