<h1 align="center">Welcome to Annai-Avalon apartments</h1>
<table style="width:100%">
<tr>
<td>Kaliswaran 1C-F1</td>
<td align="right">Septic-tank = 9382130485</td>
</tr>
<tr>
<td>Pattabiraman 1C-F2</td>
<td align="right">Murugesan(Mason) = 9941939055</td>
</tr>
</table>
<p>Vadivelan</p>
<p>Sujay</p>
<p>Murali</p>
<p>SomashKandan</p>
<p align="center"><%= image_tag "/assets/annai.jpg" %></p>
