<h1 align="center">Welcome to Annai-Avalon apartments</h1>
<table style="width:100%">
<tr>
<td>kaliswaran</td>
<td>Septic-tank = 9382130485</td>
</tr>
</table>
<p align="right">Septic-tank = 9382130485</p>
<p align="right">Murugesan(Mason) = 9941939055</p>  
<p>Kaliswaran</p> 
<p>Pattabiraman</p>
<p>Vadivelan</p>
<p>Sujay</p>
<p>Murali</p>
<p>SomashKandan</p>
<p align="center"><%= image_tag "/assets/annai.jpg" %></p>
