<h1 align="center">Welcome to Annai-Avalon apartments</h1>
<p align="right">Septic-tank = 9382130485</p> 
<p>Kaliswaran</p> 
<p>Pattabiraman</p>
<p>Vadivelan</p>
<p>Sujay</p>
<p>Murali</p>
<p>SomashKandan</p>
<p align="center"><%= image_tag "/assets/annai.jpg" %></p>
