<!DOCTYPE html>
<html>
<head>
  <title>Annaiavalon</title>
  <meta name="keywords" content="annaiavalon,agaramthen,Builders,Tambaram,chennai,apartments,flats,annaibuilders,residential,projects,apartment,annai,build,sujay,1c-f3,projects,1c-g1,1c-f1,vadivelan,pattabiraman,bakyaraj,somashkandan,9941939055,1d-g2" />
   <meta name="description" content="Annaiavalon apartments is a good residential apartemnt in Agaramthem. It is near to Bharath university, frequently buses available from Tambaram" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
